@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    body {
        overflow-x: hidden;
    }

    img {
        max-width: 100%;
    }

    .hero {
        margin-bottom: 20px;
    }

    .title-hero {
        font-size: 33px;
    }

    .hero-content {
        font-size: 16px;
    }
    .dots{
        bottom: 28px;
        right: 109px;
        height: 6px;
    }

    .feedback-btn {
        font-size: 17px;
    }

    .feedback-input {
        padding: 19px 119px 19px 9px;
    }

    .block-inner {
        padding: 33px 14px;
    }

    .block-title {
        font-size: 19px;
    }

    .block-content {
        font-size: 13px;
        line-height: 23px;
    }

    .title-solution {
        font-size: 35px;
        line-height: 60px;
    }

    .content-solution {
        font-size: 17px;
    }

    .subcontent-solution {
        font-size: 15px;
    }

    .analysis {
        padding: 92px 0;
    }

    .analysis-title {
        padding: 47px 0;
        font-size: 39px;
    }

    .analysis-subcontent {
        font-size: 15px;
    }

    .analysis-icon-content {
        font-size: 15px;
    }

    .serving {
        padding: 37px 0;
    }

    .title-serving {
        font-size: 44px;
        padding-top: 50px;
    }

    .content-serving {
        font-size: 17px;
    }

    .title-software {
        font-size: 43px;
    }

    .content-software {
        font-size: 14px;
    }

    .btn-software {
        padding: 15px 29px;
        font-size: 16px;
    }
    .info-col-4 .choice-title{
        font-size: 14px;
    }
    .choice{
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 740px;
    }

    body {
        overflow-x: hidden;
    }

    .btn {
        padding: 13px 26px;
        font-size: 16px;
    }

    .title-hero {
        font-size: 38px;
    }
    .dots{
        bottom: 27px;
        right: 74px;
    }

    .hero-content {
        font-size: 15px;
        line-height: 25px;
    }

    .feedback-form {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .feedback-input {
        font-size: 15px;
    }

    .feedback-btn {
        padding: 11px 27px;
        font-size: 15px;
        right: 7px;
    }

    .img-app {
        display: flex;
        justify-content: center;
    }

    .col-5, .col-6, .col-7 {
        width: 100%;
    }

    .outer-solution {
        margin-bottom: 68px;
    }

    .sites-item {
        padding: 0 10px;
    }

    .block-inner {
        text-align: center;
    }

    .block-title {
        font-size: 26px;
    }

    .block-content {
        font-size: 18px;
    }

    .title-solution {
        font-size: 33px;
    }

    .content-solution {
        font-size: 15px;
    }

    .analysis-item {
        justify-content: center;
    }

    .title-serving {
        font-size: 41px;
    }

    .img-laptop-item {
        position: static;
    }

    .col-4 {
        width: 100%;
    }

    .plan {
        padding: 77px 0;
    }

    .footer {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title-hero {
        font-size: 29px;
        margin-bottom: 5px;
    }
    .dots{
        bottom: 30px;
        right: 22px;
    }

    .hero-content {

    }
    .content {
        padding: 30px 0;
    }

    .analysis {
        padding: 0;
    }

    .analysis-title {
        font-size: 31px;
        padding: 0;
        margin-bottom: 25px;
    }
    .title-serving {
        font-size: 29px;
        padding: 5px 0;
    }
    .software{
        padding: 54px 0;
    }
    .plan-content{
        padding: 0;
    }

}

@media (max-width: 576px) {
    body{
        overflow-x: hidden;
    }
    .container{
        max-width: 320px;
    }
    .title-hero{
        font-size: 16px;
        line-height: 38px;
    }
    .dots{
        bottom: 14px;
        right: 17px;
        height: 3px;
    }

    .outer-solution{
        padding: 19px;
    }
    .title-solution{
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 15px;
    }
    .analysis-title{
        font-size: 30px;
        line-height: 43px;
    }
    .title-serving{
        font-size: 23px;
        line-height: 32px;
    }
    .title-software{
        font-size: 33px;
        line-height: 26px;
    }
    .btn-software{
        margin-bottom: 30px;
    }
    .plan{
        padding: 28px 0;
    }
    .plan-title{
        font-size: 33px;
        line-height: 53px;
        margin: 0;
    }
    .slider:before{
        content: "";
        height: 22px;
        width: 22px;
        bottom: 6px;
        left: 2px;
    }
    .plan-input{
        margin-bottom: 10px;
    }
    .info-col-4 .choice-title{
        font-size: 14px;
    }
    .choice{
        font-size: 14px;
    }
.green-circle{
    display: none;
}
.orange-circle{display: none}
}